{% extends "base2.html" %}

{% block content %}
<div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header"></h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-10">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                We're Sorry!
                            </div>
                            <div class="panel-body">
                                <p><h4>There was a problem activating your account. Please contact us at <a href="info@quoxient.co.ke">info@quoxient.co.ke</a></h4></p>
                            </div>
                            
                        </div>
                    </div>
                </div>

        </div>

{% endblock %}

{% block footer %}
{% endblock %}
{% block scripts %}
    {{ block.super }}
{% endblock %}
