{% extends "base2.html" %}

{% load i18n %}

{% load widget_tweaks %}


{% block content %}
<div id="page-wrapper">
<div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header"></h1>
                    </div>
</div>
 <div class="row">
                <div class="col-md-5 col-md-offset-2">
                    <div class="login-panel panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Please Change Your Password</h3>
                        </div>
                        <div class="panel-body">
                            <form method="post" novalidate>
                              {% csrf_token %}

                              {% for hidden_field in form.hidden_fields %}
                                {{ hidden_field }}
                              {% endfor %}

                              {% if form.non_field_errors %}
                                <div class="alert alert-danger" role="alert">
                                  {% for error in form.non_field_errors %}
                                    {{ error }}
                                  {% endfor %}
                                </div>
                              {% endif %}

                              {% for field in form.visible_fields %}
                                <div class="form-group">
                                  {{ field.label_tag }}

                                  {% if form.is_bound %}
                                    {% if field.errors %}
                                      {% render_field field class="form-control is-invalid" %}
                                      {% for error in field.errors %}
                                        <div class="invalid-feedback">
                                          {{ error }}
                                        </div>
                                      {% endfor %}
                                    {% else %}
                                      {% render_field field class="form-control is-valid" %}
                                    {% endif %}
                                  {% else %}
                                    {% render_field field class="form-control" %}
                                  {% endif %}


                                </div>
                              {% endfor %}

                              <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
{% block footer %}
{% endblock %}
{% block scripts %}
    {{ block.super }}
{% endblock %}