{% extends "base2.html" %}
{% load i18n %}

{% block content %}
<div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header"></h1>
                    </div>
</div>

<div class="row">
                    <div class="col-lg-10">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                Activation Success
                            </div>
                            <div class="panel-body">
                                <p><h4>You are now registered. Activation email sent.</h4></p>
                            </div>
                            
                        </div>
                    </div>
                </div>

</div>
{% endblock %}
{% block footer %}
{% endblock %}
{% block scripts %}
    {{ block.super }}
{% endblock %}