

{% extends "base.html" %}
{% load i18n %}


 <div id="content">
    {% block content %}
     {% if user.is_authenticated %}
        <!-- Sidebar -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">

                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                        </div>
                    </li>
                    <li>
                        <a href="{% url 'index' %}" class="active"><i class="fa fa-home fa-fw"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-cube fa-fw"></i> Quoxient SMS<span class="fa arrow"></span></a>

                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url 'bulk' %}"><i class="fa fa-archive fa-fw"></i>Bulk File History</a>
                            </li>
                            
                        </ul>
                        

                    </li>
                </ul>

            </div>
        </div>
<!--Sidebar End-->

    <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Bulk Files</h1>
                         
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#upModal"><i class="glyphicon glyphicon-plus"></i>Upload File</button>
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="dataTable_wrapper">

                                
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-bulk">
                                        <thead>
                                            <tr>
                                                <th>File Name</th>
                                                <th>Upload Date</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                            
                                        <tbody>

                                            {% for file in uploaded_files %}
                                            <tr class="{% cycle 'odd gradeA' 'even gradeA' %}">
                                                <td>{{ file.description }}</a></td>
                                                <td>{{ file.uploaded_at }}</td>
                                                <td>{{ file.processed }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                                <!-- /.table-responsive -->
                                <div class="well">
                                    <!--<h4>Terms and Conditions</h4>
                                    <p><a href="http://mobilescore.co.ke/docs/Terms_Of_Service_For_Business.pdf" target="_blank">Click Here</a>.</p>-->
                                </div>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-12 -->
                </div>

            </div>
            <!-- /#page-wrapper -->

            <!-- upModal -->

            <div class="modal fade" id="upModal" tabindex="-1" role="dialog" aria-labelledby="upModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data" class="form-horizontal" role="form" id="upload-form">
                    {% csrf_token %}
                  <div class="modal-header">
                    <button type="submit" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="upModalLabel">Upload File</h4>
                  </div>
                  
                <div class="modal-body">

                    <div class="input-group">
                        {% for requester in organization_requester %}
                        <span class="input-group-addon" id="basic-addon1">Requester</span>
                        <input type="text" class="form-control" id="organization-requester-name" aria-describedby="basic-addon1" value="{{ requester.organization_name }}" disabled/>
                        <input type="hidden" class="form-control" id="id_document-organization" value="{{ requester.id }}" name="document-organization"/>
                        {% endfor %}
                    </div>
                    <br>                        
                     <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2">Browse File (csv)</span>
                        <input type="file" class="form-control" name="document-document" required id="id_document-document" aria-describedby="basic-addon10"/>
                        <label class="text-danger" for="id_document-document" hidden>Select a file to upload</label>
                        
                    </div>

                    <label class="text-danger" for="file-name" id="err_file_name" hidden>Only CSV Format allowed</label>

                </div>
                <br>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
                </form>
                </div>
              </div>
            </div>

            <!--Modal-->


            

    {% else %}
<div class="row">
    <div class="col-lg-12">
         <h1 class="page-header"></h1>
     </div>
     <!-- /.col-lg-12 -->
</div>
<div class="container">
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-10">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                Quoxient SMS Portal
                            </div>
                            <div class="panel-body">
                                <p><h4>Welcome, Would you like to <a href="{% url 'auth_login' %}">Log In?</a> You can also request to be registered at <a href="mailto:info@quoxient.co.ke">info@quoxient.co.ke</a></h4></p>
                            </div>
                            
                        </div>
                    </div>
                </div>

</div>
       
        {% endif %}



    {% endblock %}

</div>
{% block footer %}
{% endblock %}
{% block scripts %}
    
    {{ block.super }}


    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script type="text/javascript">
            
            $(document).ready(function() {

                //SET CSRF Token for all ajax calls
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (settings.type == 'POST' || settings.type == 'PUT' || settings.type == 'DELETE') {
                            function getCookie(name) {
                                var cookieValue = null;
                                if (document.cookie && document.cookie != '') {
                                    var cookies = document.cookie.split(';');
                                    for (var i = 0; i < cookies.length; i++) {
                                        var cookie = jQuery.trim(cookies[i]);
                                        // Does this cookie string begin with the name we want?
                                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                            break;
                                        }
                                    }
                                }
                                return cookieValue;
                            }
                            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                                // Only send the token to relative URLs i.e. locally.
                                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                            }
                        }
                    }
                });

                //activates DataTable ordering by the second column (Order DateTime)
                $('#dataTables-bulk').DataTable({
                        "order": [[ 0, "desc" ]], responsive: true
                });
});



            


    </script> 

    
    {% endblock %}


