

{% extends "base.html" %}
{% load i18n %}


 <div id="content">
    {% block content %}
     {% if user.is_authenticated %}
        <!-- Sidebar -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">

                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                        </div>
                    </li>
                    <li>
                        <a href="{% url 'index' %}" class="active"><i class="fa fa-home fa-fw"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-cube fa-fw"></i> Quoxient SMS<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url 'files' %}"><i class="fa fa-first-order fa-fw"></i>Upload Files</a>
                            </li>
                            
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url 'bulk' %}"><i class="fa fa-archive fa-fw"></i>File History</a>
                            </li>
    
                    </li>

            </div>
        </div>
<!--Sidebar End-->

    <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Bulk SMS Files</h1>
                         
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-plus"></i> New Order</button>
                                <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#upModal"><i class="glyphicon glyphicon-upload"></i> Upload File</button>
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="dataTable_wrapper">

                                
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-orders">
                                        <thead>
                                            <tr>
                                                <th>Mobile Number</th>
                                                <th>Order Query Date</th>
                                                <th>Order Update Date</th>
                                                <th>Order Status</th>
                                                <th>Qualify Rebate</th>
                                           <!--        <th>Probability Default</th>  Added -->
                                            </tr>
                                        </thead>
                            
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>

                                <!-- /.table-responsive -->
                                <div class="well">
                                    <h4>Terms and Conditions</h4>
                                    <p><a href="http://mobilescore.co.ke/docs/Terms_Of_Service_For_Business.pdf" target="_blank">Click Here</a>.</p>
                                </div>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-12 -->
                </div>

            </div>
            <!-- /#page-wrapper -->



            <!-- upModal -->

            <div class="modal fade" id="upModal" tabindex="-1" role="dialog" aria-labelledby="upModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data" class="form-horizontal" role="form" id="upload-form">
                    {% csrf_token %}
                  <div class="modal-header">
                    <button type="submit" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="upModalLabel">Upload File</h4>
                  </div>
                  
                <div class="modal-body">

                    <div class="input-group">
                        {% for requester in organization_requester %}
                        <span class="input-group-addon" id="basic-addon1">Requester</span>
                        <input type="text" class="form-control" id="organization-requester-name" aria-describedby="basic-addon1" value="{{ requester.organization_name }}" disabled/>
                        <input type="hidden" class="form-control" id="id_document-organization" value="{{ requester.id }}" name="document-organization"/>
                        {% endfor %}
                    </div>
                    <br>                        
                     <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2">Browse File (csv)</span>
                        <input type="file" class="form-control" name="document-document" required id="id_document-document" aria-describedby="basic-addon10"/>
                        <label class="text-danger" for="id_document-document" hidden>Select a file to upload</label>
                        
                    </div>

                    <label class="text-danger" for="file-name" id="err_file_name" hidden>Only CSV Format allowed</label>

                </div>
                <br>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
                </form>
                </div>
              </div>
            </div>

            <!--Modal-->

    {% else %}
<div class="row">
    <div class="col-lg-12">
         <h1 class="page-header"></h1>
     </div>
     <!-- /.col-lg-12 -->
</div>
<div class="container">
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-10">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                Quoxient SMS Portal
                            </div>
                            <div class="panel-body">
                                <p><h4>Welcome, Would you like to <a href="{% url 'auth_login' %}">Log In?</a> You can also request to be registered at <a href="mailto:info@quoxient.co.ke">info@quoxient.co.ke</a></h4></p>
                            </div>
                            
                        </div>
                    </div>
                </div>

</div>
       
        {% endif %}



    {% endblock %}

</div>
{% block footer %}
{% endblock %}
{% block scripts %}
    
    {{ block.super }}


    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script type="text/javascript">
            
            $(document).ready(function() {

                //SET CSRF Token for all ajax calls
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (settings.type == 'POST' || settings.type == 'PUT' || settings.type == 'DELETE') {
                            function getCookie(name) {
                                var cookieValue = null;
                                if (document.cookie && document.cookie != '') {
                                    var cookies = document.cookie.split(';');
                                    for (var i = 0; i < cookies.length; i++) {
                                        var cookie = jQuery.trim(cookies[i]);
                                        // Does this cookie string begin with the name we want?
                                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                            break;
                                        }
                                    }
                                }
                                return cookieValue;
                            }
                            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                                // Only send the token to relative URLs i.e. locally.
                                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                            }
                        }
                    }
                });

                //activates DataTable ordering by the second column (Order DateTime)
                $('#dataTables-orders').DataTable({
                        "order": [[ 1, "desc" ]], responsive: true
                });
                //Global Variable label
                var label = [$('label[for="mobile-number"]'),$('label[for="document-number"]')];


                //POST the Order Form
                $('#order-form').on('submit', function(e) {
                    var form_data = $("#order-form").serializeArray();
                    var error_free = [true, true];
                    
                    for (var input in form_data){
                        var element=[$("#mobile-number"),$("#document-number")];
                        var valid = [element[0].hasClass("valid"), element[1].hasClass("valid")];

                        if (!valid[0]){
                            error_free[0] = false;
                        }
                        if (!valid[1]){
                            error_free[1] = false;
                        }
                    }

                    
                    if ((!error_free[0]) || (!error_free[1])){

                        if (!error_free[0]){
                            e.preventDefault();
                            label[0].show();
                        }
                        if(!error_free[1]){
                            e.preventDefault();
                            label[1].show();
                        } 

                    }

                    else{
                        console.log("No errors");

                        e.preventDefault();
                        label[0].hide();
                        label[1].hide();
                        var form = $(this);
                        var datax = form.serialize();
                        console.log(datax);

                        $.ajax({
                            url: "{% url 'order' %}",
                            data: form.serialize(),
                            type: "POST",
                            dataType : "json",

                            success: function() {
                           //Clear the Modal

                                $('.modal').on('hidden.bs.modal', function(){
                                    $(this).find('form')[0].reset();
                                });
                                $('#myModal').modal('hide');
                                    console.log("Order Created Successfully");
                                //Reload the Page
                                    document.location.reload(true);
                            },
                            error: function() {
                                console.log( "Sorry, there was a problem!");
                            }
                        });
                        json = '';
                        return false;
                    }

                });
                //Focus cursor
                $("#mobile-number").focus();
                //Validate the Mobile Number
                $('#mobile-number').on('input', function() {
                    var input=$(this);
                    var regex_mobile = /^2547[0-9]{8,8}$/;
                    var is_mobile=regex_mobile.test(input.val());
                    if(is_mobile){
                        input.removeClass("invalid").addClass("valid");
                        console.log("Valid");
                         label[0].hide();
                    }
                    else{
                        input.removeClass("valid").addClass("invalid");
                        console.log("Invalid");
                    }
                }); 


                //Validate the Dccument Number
                $('#document-number').on('input', function() {
                    var input=$(this);
                    var regex_document = /^(?!^0+$)[a-zA-Z0-9]{7,8}$/;
                    var is_document=regex_document.test(input.val());
                    if(is_document){
                        input.removeClass("invalid").addClass("valid");
                        console.log("Valid");
                        label[1].hide();
                    }
                    else{
                        input.removeClass("valid").addClass("invalid");
                        console.log("Invalid");
                    }
                });

                //Upload File
                /*$('#upload-form').on('submit', function(event) {
                    event.preventDefault();
                    var data = new FormData($('upload-form').get(0));
                    $.ajax({
                        url: $(this).attr('action'),
                        type: $(this).attr('method'),
                        data: data,
                        cache: false,
                        processData: false,
                        contentType: false,
                        success: function(data) {
                            console.log('success');
                        }
                    });
                    return false;
                });*/

});



            


    </script> 

    
    {% endblock %}


